.Card-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card-container {
    text-align: center;
    width: 70%;
}

img {
    width: 300px;
    height: 250px;
    margin: 20px;
}

p {
    color: rgb(0, 61, 7);
}

ul {
    color: rgb(0, 61, 7); 
}

h1 {
    text-align: center;
}
