form {
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputBlock {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #208cff;
    color: #fff;
    padding: 5px;
    border: none;
}
input {
    padding: 5px;
}

.error {
    color: red;
}