.container {
    border: 3px solid var(--text-color);
    border-radius: 64px;
    padding: 35px 40px;
    display: inline-block;
    margin-top: 32px;
}

.iconsItems {
    display: flex;
    gap: 18px;
}

.icon {
    color: var(--text-color);
    transition: transform 0.2s ease, fill 0.2s ease;
    cursor: pointer;
}

.icon:hover {
    transform: translateY(-10px);
    color: rgba(17, 129, 241, 1);
}