@import url("./reset.css");
@import url("./variables.css");
@import url("./common.css");
@import url("./fonst.css");

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}